@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
}

body {
  background: #5C16C5;
}

/* -------------  Pantalla de bienvenida ------------- */

.screen-welcome {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 80px;
  align-content: center;
}

.title {
  font-family: 'Press Start 2P';
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 7px #000000;
}

.logo {
  height: 220px;
  width: auto;
}

.slogan {
  font-size: 34px;
  text-align: center;
  color: #FFFFFF;
  padding: 0px 30px;
}

.group-btn {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.btn-general {
  font-weight: 700;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  border: none;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  background: #FFFFFF;
}

.btn-login {
  background: #1D9BF0;
  color: #FFFFFF;
}

/* -------------  Login ------------- */

.screen-login {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.form-login {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  align-content: center;
  justify-content: center;
  height: 78.5%;
}

.cont-inputs-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
}

.input-login {
  width: 350px;
  height: 60px;
  border-radius: 8px;
  margin-top: 32px;
  padding: 0 20px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.hr {
  width: 150px;
  height: 1px;
  margin: 20px;
}

.google-icon {
  height: 100%;
}

.btn-google {
  display: flex;
  width: 350px;
  background: #EEE9E9;
  align-items: center;
  justify-content: space-evenly;
}

.links-redirect {
  color: #FFFFFF;
  font-weight: 00px;
}

